html,body{
    margin: 0;
    width:100vw; 
    height:100vh;
    position: relative;

  }
  
  #svgbox{

    width:100%;
    height:100%;    
    position: absolute; 
    top:0px;
    left: 0px;
    margin: 0;
    z-index: 0;
   }

#svgsky{
    width:100%;
    height:100%;   
    position: absolute; 
    top:0px;
    left: 0px;
    z-index: 0;
   }

#svgall{
    width:100%;
    height:100%;   
    position: absolute; 
    top:0px;
    left: 0px;
    z-index: 1;
}
 
#bg{
    width:100%;
    height:100%;  
    position: absolute;
    top:0px;
    left: 0px;

} 

.s{
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}
.hA4,.hB4,.hC4,.hD4{stroke:#afd6f3;stroke-linecap:square;stroke-linejoin:round;stroke-width:3px;}
.hC4{fill:#d9ccb9;}
.hB4{fill:#e6decb;}
.hA4{fill:#eaebde;}
.hD4{fill:#ddeffd;}

.hA,.hB,.hC,.hD{stroke:#afd6f3;stroke-linecap:square;stroke-linejoin:round;stroke-width:2px;}
.hC{fill:#d9ccb9;}
.hB{fill:#e6decb;}
.hA{fill:#eaebde;}
.hD{fill:#ddeffd;}

.hAsh,.hBsh,.hCsh,.hblk{stroke:#afd6f3;stroke-linecap:square;stroke-linejoin:round;stroke-width:2px;}
.hAsh{fill:#bdddf4;}
.hBsh{fill:#accfe9;}
.hCsh{fill:#99c6e7;}
.hblk{fill:#afd6f3;}

.hP{fill: none; stroke:#afd6f3;stroke-linecap:square;stroke-linejoin:round;stroke-width:2px;}
.hP4{fill: none; stroke:#afd6f3;stroke-linecap:square;stroke-linejoin:round;stroke-width:3px;}
  
/* .bgcolor{background-color:#809dfd;} */
svg{background: linear-gradient(#dbddcb, #afd6f3);}

.none{ fill:none; }
.op0{fill:#fff;fill-opacity:0}

/* ppl */
.pplstork,.ppl,.ppr{stroke:#afd6f3;}
.ppl{fill:#f2f3eb;}
.ppr{fill:#c0e4fe;}
.ppl,.ppr{stroke-linecap:square;}
.pplstork,ppl,.ppr{stroke-linejoin:round;}
.pplstork{fill:none;stroke-linecap:round;}
.pplstork,.ppl,.ppr{stroke-width:2px;}

/* house */
.hHOUS1,.hHOUS2,.hHOUS3,.hHOUS4,.hHOUS5{stroke:#afd6f3;stroke-linejoin:round;stroke-width:2px;stroke-linecap:round;}
.hHOUS1{fill:#c0e4fe;}
.hHOUS2{fill:none;}
.hHOUS3{fill:#eaebde;}
.hHOUS4{fill:#c0e4fe;}
.hHOUS5{fill:#d9ccb9;}

/* astronaut */
.hASTR1,.hASTR3,.hASTR4{stroke:#afd6f3;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}
.hASTR1{fill:#d9ccb9;}
.hASTR3{fill:#eaebde;}
.hASTR4{fill:#c0e4fe;}

/* rocket */
.hR{fill:#eaebde;}
.hR,.hW{stroke:#afd6f3;stroke-linejoin:round;stroke-linecap:round;stroke-width:2px;}
.hW{fill:#e6decb;}


/* sincos */
.hSIN{fill:none; stroke:#f2f3eb;stroke-linejoin:round;stroke-linecap:round;stroke-width:2px;}
.hTRAN1,.hTRAN2,.hTRAN3{stroke:#afd6f3;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}
.hTRAN3{fill:#f2f3eb;}
.hTRAN1{fill:none;}

/* dot */
.hDOT{fill:none; stroke:#f2f3eb;stroke-linejoin:round;stroke-width:2px;} 

/* humid */
.hHUM1{fill:#e6decb;}
.hHUM1,.hHUM2{stroke:#afd6f3;stroke-linejoin:round;stroke-width:2px;}
.hHUM2{fill:#eaebde;}

/* enlighten */
.hEYE1{fill:#e7e8d9;}
.hEYE1{stroke:#afd6f3;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}
.hEYE2{fill:#afd6f3;}

/* evident */
.hEV1{fill:#eaebde;}
.hEV1,.hEV2,.hEV3{stroke:#afd6f3;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}
.hEV2{fill:#e6decb;}
.hEV3{fill:#afd6f3;}

/* flower*/
.fpatal{fill:#f2f3eb;}
.fFLOW1,.fFLOW2,.fFLOW3,.fFLOW4{stroke:#afd6f3;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}
.fFLOW1{fill:#e6decb;}
.fFLOW2{fill:#f2f3eb;}
.fFLOW3{fill:#afd6f3;}
.fFLOW4{fill:none; }

/* rabbit */
.hRAT1{fill:#f2f3eb;stroke-width:2px;stroke:#afd6f3;stroke-linejoin:round;}
.hRAT2{fill:#afd6f3;}
.hRAT3{fill:#dedfeb;}
.hANS{fill:#eaebde; stroke: none;}
.hS2{fill:none; stroke-width:2px; stroke:#afd6f3; stroke-linejoin:round; stroke-linecap:round;}

/* hamster */
.hHAM1{fill:#e6decb;stroke:#d9ccb9; stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}
.hHAM2{fill:#fbfceb;}
.hHAM3{fill:#231f20;}
.hHAM4{fill:#ffbbce;}
.hHAM5{fill:#ddeffd; fill-opacity:0.2; stroke:#ddeffd; stroke-width:2px;}


/* cloud */
.clS4{stroke:#c0e1fa;stroke-linecap:round;stroke-linejoin:round;stroke-width:4px;}
.clS2{stroke:#c0e1fa;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}
.cl01{fill:#ddeffd; }
.cl02{fill:#ddeffd; }
.cl03{fill:#ddeffd; }
.cl04{fill:#ddeffd; }
.cl05{fill:#ddeffd; }
.cl06{fill:#d3e3ef; }
.cl07{fill:#e7e8d9; }
.cl08{fill:#e7e8d9; }
.cl09{fill:#e7e8d9; }
.cl10{fill:#e7e8d9; }

.star{
    animation: color-change 1s infinite;
  }
  
  @keyframes color-change {
    0% { fill: #d9ccb9; }
    50% { fill: #e6decb; }
    100% { fill: #eaebde; }
  }

